:global(.fc-time-grid-container) {
  &:global(.fc-scroller) {
    height: auto!important;
    overflow-y: auto;
  }
}

:global(.fc-day-header) {
  font-size: 12px;
}

/*:global(.fc-toolbar) {
  :global(.fc-left) {
    @media (min-width: 768px) {
      width: 100%;
      :global(.fc-button-group) {
        float: right;
      }
    }
  }

}*/
