.datePickerInput {
  width: 120px;
  @media (min-width: 320px) {
    width: 182px;
    &.fullWidth {
      width: 290px;
    }
  }

  @media (min-width: 768px) {
    &.fullWidth {
      width: 284px;
    }
  }
}

.wrapper {
  > {
    &:last-child {
      float: right;
      margin: 0 3px;
    }
  }
}
