.datePickerInput {
  width: 120px;
  @media (max-width: 768px) {
    width: 182px;
    &.fullWidth {
      width: 290px;
    }
  }
}

.wrapper {
  > {
    &:last-child {
      float: right;
      margin: 0 3px;
      @media (max-width: 768px) {
        margin: 0;
      }
    }
  }
}
