.datePickerInput {
  width: 120px;
  @media (max-width: 768px) {
    width: 183px;
    &.fullWidth {
      width: 290px;
    }
  }
}

.wrapper {
  > {
    &:last-child {
      margin: 0 3px;
      float: right;
    }
  }
}
