.wrapper {
  display: inline-block;
  width: 227px;
  @media (max-width: 768px) {
    margin: 2px 0;
    width: 288px;
  }

  &.dateOnly {
    width: 123px;
    @media (max-width: 768px) {
      width: 293px;
    }
  }
}

.error {
  display: table;
}
