.wrapper {
  display: inline-block;
  width: 227px;
  @media (min-width: 320px) {
    margin: 2px 0;
    width: 292px;
  }

  @media (min-width: 768px) {
    width: 288px;
  }

  &.dateOnly {
    width: 123px;
    @media (min-width: 320px) {
      width: 292px;
    }
    @media (min-width: 768px) {
      width: 288px;
    }
  }
}

.error {
  display: table;
}
